@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left,
      rgba(124,58,237,.25),
      transparent 30%),
    radial-gradient(circle at top right,
      rgba(59,130,246,.15),
      transparent 30%),
    #020617;

  color: white;
}